.footer-container {
  background-color: #242424;
  padding: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.footer-subscription {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  text-align: right;

  /* margin-bottom: 24px;
  padding: 24px; */
  color: #fff;
}

.footer-subscription-text {
  margin-bottom: 12px;
  font-size: 20px;
  justify-content: right;
  align-items: right;
  text-align: right;
  padding-right: 10px;
}

/* .left {
  justify-content: left;
  align-items: left;
  text-align: left;
  padding-right: 0px;
}

.right {
  justify-content: right;
  align-items: right;
  text-align: right;
  padding-right: 10px;
} */

.footer-icons {
  display: flex;
  /* justify-content: space-between; */
  justify-content: right;
  align-items: center;
  /* padding: 20px 16px; */
}

.footer-icons a {
  color: #f5f6f7;
}

.footer-icons ul {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  gap: 30px;
  list-style-type: none;
  align-items: right;
  justify-content: right;
}

.fa {
  padding: 10px;
  font-size: 50px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 30%;
  vertical-align: baseline;

}

.footer-logo {
  color: #ff6d99;
  font-size: 4rem;
  text-decoration: none;
  font-family: "Shadows Into Light", cursive;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  /* font-size: 2rem; */
  display: flex;
  align-items: center;
}

.fa-ig {
  background-color: #125688;
}

.fa-yt {
  background-color: #bb0000;
}

.fa-music {
  background-color: #ff8000;
}

.fa-spotify {
  background-color: #1DB954;
}

.fa:before {
  display: none;
}

.fa:hover {
  opacity: 0.7;
}

.footer-row {
  display: flex;
  /* text-align: center; */
  margin: auto;
  width: 80%;
}

.left-column {
  display: table-column;
  float: left;
  width: 50%;
  justify-content: left;
  align-content: left;
  align-items: left;
  flex-direction: column;
}

.right-column {
  display: table-column;
  float: right;
  width: 50%;
  justify-content: right;
  align-content: right;
  align-items: right;
  flex-direction: column;
}

.box {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;
  font-optical-sizing: auto;
  font-size: 1.2rem;
  flex-direction: column;
}

.hline { width:80%; height:1px; background: #fff }


@media screen and (max-width: 960px) {
  .footer-row {
    display: table;
    text-align: center;
    margin: auto;
    max-width: 1200px;
    justify-content: center;
    align-content: center;
  }

  .footer-logo {
    float: left;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

  .footer-icons {
    float: left;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

  .footer-icons ul {
    /* display: none; */
    gap: 30px;
    list-style-type: none;
    align-items: center;
    justify-content: center;
  }

  .footer-subscription {
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  .footer-subscription-text {
    justify-content: left;
    align-items: center;
    text-align: center;
    padding-right: 0px;
  }

  .left-column {
    float: left;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

  .right-column {
    float: center;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .box {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: auto;
    font-optical-sizing: auto;
    font-size: 1.2rem;
    flex-direction: column;


  }
}