.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

a {
  text-decoration: none;
}

.App-header {
  background: url('../public/love_sucks.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-decoration: none;
}

.App-title-text {
  font-family: "Shadows Into Light", cursive;
  font-weight: 1000;
  font-size: 8vw;
  margin-bottom: 10px;
  color: #ff6d99;
  text-shadow : 1px 1px 5px #ff6d99;
}


.App-subtitle-text {
  font-family: "Shadows Into Light", cursive;
  font-size: 4vw;
  margin-bottom: 50px;
  color: #ff6d99;
}

.App-link {
  font-family: "Shadows Into Light", cursive;
  font-size: 4vw;
  margin-bottom: 50px;
  color: #ff6d99;
}

.Paragraph-pink {
  background-color: #ff6d99;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.Paragraph-purple {
  background-color: #a45eff;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.Paragraph-header {
  text-align: center;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 2rem;
  font-weight: bolder;
  max-width: 600px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.Paragraph-text {
  text-align: center;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.2rem;
  max-width: 600px;
  padding-top: 50px;
  padding-bottom: 50px;
}